h1 {
			color:  red;
		}
		img {
			width: 400px;
		}
		#thirdDiv {
			width: 500px;
			height: 600px;
			background: green;
			padding: 50px;
			border: 10px dotted blue;
		}

		#spanId {
			font-size: 18px;
			margin: 50px;
		}
